{% extends 'todo/base.html' %}
{% load endswith %}
{% load static %}

{% block nav_notification %}
<a class="nav-link active" href="/todo/statistics">
    <div class="chart d-sm-flex d-none">
    </div>
</a>
{% endblock %}

{% block tabnav %}
<li class="nav-item mr-4">
    <a class="nav-link" href="/todo/new">+new</a>
</li>
{% for state in states %}
<li class="nav-item">
    <a class="nav-link {% if request.get_full_path|endswith:state.url %}active{% endif %}"
       href="{% if request.get_full_path|endswith:state.url %}/{% else %}{{ state.url }}{% endif %}">
        {{ state.human_readable_text }}</a>
</li>
{% endfor %}
{% endblock %}

{% block endscripts %}
<script type="text/javascript">var data = {{ completed_json }}</script>
<script type="text/javascript" src="{% static 'todo/completed-chart.js' %}"></script>
{% endblock %}