{% extends 'todo/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h2><a href="/new">+new</a></h2>
    </div>
    <div class="col-md-10 text-right">
        {% for state in states %}
        <div class="d-inline pl-3">
            <h2 class="d-inline"><a href="{{ state.url }}">{{ state.human_readable_text }}</a></h2>
        </div>
        {% endfor %}
    </div>
</div>

{% if todo_list %}

<div class="row">
    {% for todo in todo_list %}
    {% include "todo/todo_detail.html" with todo=todo %}
    {% endfor %}
</div>

{% else %}
<p>There are no todo's.</p>
{% endif %}
{% endblock %}